.obsidian/
.obsidian/plugins/
.obsidian/themes/
.DS_Store       
Thumbs.db       
backups/   
Natter 🩺/
Not-For-Git/
Work 📎/
Twitch 🔊/
YouTube ▶️/
Discord 🛸/
Daily Notes 📑/
Incubator 💡/
Goals 🚀/
Branding 📀/